body {
    background-image: url("../src/background.jpg");
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 15vw;
}

.title{
    font-size: 8vw;
    background: rgba(204, 204, 204, 0.6);
    border-radius: 20px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.menu-container button {
    cursor: pointer;
    min-height: 6rem;
    min-width: 20rem;
    margin: 10%;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
